/* signup.css */

/* Backリンクのスタイル */
.back {
    position: absolute; /* 絶対位置を指定 */
    top: 100px;          /* 上から100ピクセルの位置に配置 */
    left: 20px;         /* 左から10ピクセルの位置に配置 */
    color: #333;        /* テキストの色を指定 */
    text-decoration: none; /* 下線をなくす */
    font-size: 20px;    /* フォントサイズを16pxに指定 */
    font-weight: bold;  /* フォントを太字にする */
    cursor: pointer;    /* カーソルを指マークに変更 */
}

/* リンクにマウスがホバーしたときのスタイル */
.back:hover {
    color: #FF994F;     /* テキストの色を変更 */
}
