.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 20px;
}

/* 新規登録ボタンのスタイル */
.buttons a[href="html/signup.html"] button,
.buttons a[href="../navigation.html"] button {
	background-color: yellow;
	border: none;	/* ボーダーを消す */
	color: black;	/* 文字色 */
	padding: 10px 50px;	/* 上下左右のパディング */
	border-radius: 50px;	/* 楕円形にするためのボーダーラジウス */
	cursor: pointer;	/* マウスカーソルを指の形に */
}

/* ログインボタンのスタイル */
.buttons a[href="html/login.html"] button,
.buttons a[href="../favorite.html"] button {
	background-color: white;
	border: none;
	color: black;
	padding: 10px 50px;
	border-radius: 50px;
	cursor: pointer;
}

/* ボタンにホバーしたときの効果 */
.buttons button:hover {
	opacity: 0.9;	/* 透明度を下げることで、少し暗くなる */
<<<<<<< HEAD
}
=======
}
>>>>>>> develop
