body {
    background-color: white;
    background-image: url('../assets/images/confirm.png');
    background-size: 100% auto; /* 画像の幅をブラウザの幅に合わせ、高さは自動的に調整します。 */
    background-repeat: no-repeat;
    background-position: center top; /* 画像を上部の中央に配置します。 */
}

/* Create your account タイトル */
h1 {
    position: absolute;
    top: 20%; /* 画面の上部から20%の位置 */
    width: 100%;
    text-align: center;
    font-size: 3em;
}

/* このCSSはサインアップフォームを整えるためのものです。 */
#signupForm {
    width: 100%;
    max-width: 400px;  /* この値は任意で、フォームの最大幅を示しています。 */
    margin: 0 auto;   /* これによりフォームが中央に配置されます。 */
    display: flex;
    flex-direction: column;
    align-items: center; /* ここで子要素（ボタンを含む）を中央に配置します */
}
#loginForm {
    width: 100%;
    max-width: 400px;  /* この値は任意で、フォームの最大幅を示しています。 */
    margin: 0 auto;   /* これによりフォームが中央に配置されます。 */
    display: flex;
    flex-direction: column;
    align-items: center; /* ここで子要素（ボタンを含む）を中央に配置します */
}

/* フォーム要素の間に少しスペースを入れる */
#signupForm > div {
    margin-bottom: 20px; /* 各フォーム要素の間に少しスペースを入れる */
}
#loginForm > div {
    margin-bottom: 20px; /* 各フォーム要素の間に少しスペースを入れる */
}

label {
    display: block; /* ラベルをブロック要素として扱い、新しい行で表示します。 */
    margin-bottom: 10px; /* inputとの間にスペースを入れる */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
		width: 100%;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* フォームの入力部分を親要素の幅いっぱいに広げる */
    padding: 10px; /* 入力部分の中のテキストに少しスペースを入れる */
    box-sizing: border-box; /* paddingを含む全体の幅を固定 */
    border: 2px solid #FF994F; /* 縁の色を#FF994Fに設定 */
    border-radius: 25px; /* 楕円形にするためのボーダーラジアス */
}

button[type="submit"], button {
    background-color: yellow;
    color: #000; /* 文字色を黒に */
    border: none;
    width: 50px; /* 必要に応じてサイズを調整 */
    height: 50px;
    border-radius: 50%; /* これで円形になります */
    display: flex;
    justify-content: center; /* テキストをボタンの中央に配置 */
    align-items: center; /* テキストをボタンの中央に配置 */
    cursor: pointer; /* ホバー時のカーソルをポインタに */
    font-size: 16px; /* 必要に応じてフォントサイズを調整 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 必要に応じて影を追加 */
    transition: transform 0.3s; /* クリック時のエフェクト */
    text-decoration: none;
}

button[type="submit"], button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1); /* ホバー時の影を少し大きく */
}

button[type="submit"], button:active {
    transform: scale(0.95); /* クリック時に少し縮小 */
}

a {
    text-decoration: none;
}