/* ドロップダウンメニューのスタイル */
#languageSelector {
	/* 角を丸くする */
	border-radius: 5px;
	/* デフォルトの外見をクリア */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	/* パディングを追加してテキストが見やすくなるように */
	padding: 5px 10px;
	/* ボーダーをシンプルに */
	border: 1px solid #ccc;
	/* フォントサイズやフォントファミリーは必要に応じて調整 */
	font-size: 16px;
	/* 下の要素との間隔を開ける */
	margin-bottom: 20px;
	/* 矢印アイコンを背景として追加 */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path fill="%232C3E50" d="M6 6L0-6h12z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center; /* 矢印の位置を調整 */
    padding-right: 30px; /* 右側のパディングを追加してテキストと矢印の間にスペースを作る */
}

/* ドロップダウンメニューのフォーカス時のスタイル */
#languageSelector:focus {
	/* フォーカス時のボーダーカラーを変更 */
	border-color: #007BFF;
	outline: none;
}