/**
 * メインアプリケーションのスタイル。中央に配置され、フレックスボックスを利用。
 */
.App {
	text-align: center;             /* テキストを中央揃え */
	flex: 1;                        /* フレックスアイテムとしての成長の割合 */
	display: flex;                  /* フレックスコンテナとして設定 */
	flex-direction: column;         /* 子要素を縦方向に配置 */
	justify-content: center;       /* 主軸方向（縦）の中央に配置 */
	align-items: center;            /* 交差軸方向（横）の中央に配置 */
	min-height: 100vh;              /* 最小縦の高さをビューポートの100%とする */
}

/**
 * ヘッダーセクションのスタイル。固定位置に配置され、背景色とテキスト色を持つ。
 */
header {
	background-color: #FF994F;     /* 背景色の指定 */
	color: white;                  /* テキスト色を白にする */
	padding: 30px 0 10px;          /* 上に30px、下に10pxのパディングを持つ */
	font-size: 24px;               /* フォントサイズの指定 */
	width: 100%;                   /* 幅を100%に指定 */
	position: fixed;               /* 常に固定位置 */
	top: 0;                        /* トップに配置 */
	z-index: 1000;                 /* スタック順序を最前面に */
}

/**
 * フッターセクションのスタイル。固定位置に配置され、背景色とテキスト色を持つ。
 */
footer {
	background-color: #FF994F;     /* 背景色の指定 */
	color: white;                  /* テキスト色を白にする */
	padding: 10px 0;               /* 上下に10pxのパディングを持つ */
	position: fixed;               /* 常に固定位置 */
	bottom: 0;                     /* ページの最下部に配置 */
	width: 100%;                   /* 幅を100%に指定 */
	text-align: center;            /* テキストを中央揃え */
}

/**
 * ボディ全体のスタイル。デフォルトのマージンをリセットし、フォントやポジションを設定。
 */
body {
	height: 100%;                  /* 高さを100%に指定 */
	margin: 0;                     /* 余白（マージン）をリセット */
	font-family: 'Arial', sans-serif; /* フォントファミリーの指定 */
	position: relative;            /* 相対的な位置を指定 */
	overflow-x: hidden;            /* 横方向のスクロールを無効に */
}

/**
 * HTML全体のスタイル。高さを100%に指定している。
 */
html {
	height: 100%;                  /* 高さを100%に指定 */
}
